<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IGBO M | MY IGBO</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body id="app">
  <div class="progress-bar"></div>
  <% if(locals.wasCorrect){ %>
        <div class="progress-bar progress" style="width: <%=progress %>"></div>
    <% } else if (locals.wasCorrect===false) { %>
        <div class="progress-bar progress" style="width: <%=progress %>; background-color: #AD0101;">
        </div>
    <% } %>
  <div class="star">✨</div>
  <form class="container" action="/next" method="get">
    <% if(locals.wasCorrect){ %>
        <h3><span class="checkmark">✔</span>correct!</h3>
    <% } else if (locals.wasCorrect===false) { %>
        <h3><span class="cross" id="error">✖</span><%=answer %> is not correct...</h3>
    <% } %>
    <h1 id="englishText">
      <%=question.igbotext %>
    </h1>
    <h2 id="englishText">
      <%=question.englishtext %>
    </h2>
    <button type="submit"></button>
  </form>
</body>
<script>
document.body.addEventListener('keypress', function (e) {
  if (e.key === 'Enter') {
    window.location.href = '/next';
  }
});
</script>

</html>
